// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@include font-face("PT Root UI", "../fonts/PT_Root_UI_Regular", 400);
//@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Medium", 500);
//@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Semibold", 600);
//@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Bold", 700);
@include font-face("PT Root UI", "../fonts/PT_Root_UI_Bold", 700);
//@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Black", 900);