include ../utils/mixins

block variables
  - var title = 'Title';
  - var description = 'Description';
  - var pageClass = '';

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    //#app
    include ../includes/modules/header

    block content

    include ../includes/modules/footer

    block script